.App {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

*, h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-size: 20px */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#start-img {
  width: 20px;
}

.column.docs-icon-set-column {
  color: rgb(236, 216, 73);
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  z-index: 1;
  transition: 1s;
  height: 100%;
  size: 10px;
}

a {
  color: black;
}

a:hover {
  color: grey;
}

#contacts-nav-bar {
  text-align: left;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  color: black;
}

#add-contacts-nav-bar {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
  position: relative;

}

#chats-nav-bar {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
  position: relative;

}

#profile-nav-bar {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
}

#logout-nav-bar {
  text-align: left;
  padding-left: 20px;
  padding-bottom: 65px;
  font-size: 20px;
  font-weight: bold;
}

#nav-bar {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  padding-top: 65px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  height: 750px;
}

#chats-container {
  z-index: 3;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  position: relative;
  float: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  text-align: center;
  /* padding-left: 20%; */
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
}

#add-contact-container {
  z-index: 3;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  position: relative;
  float: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  text-align: center;
  /* padding-left: 20%; */
  /* background-color: rgba(234, 232, 196, 0.2); */
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
}

#conversation-container {
  z-index: 3;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  position: relative;
  float: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  text-align: center;
  /* padding-left: 20%; */
  /* background-color: rgba(234, 232, 196, 0.2); */
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
}

#contact-container {
  z-index: 3;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  position: relative;
  float: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  text-align: center;
  /* padding-left: 20%; */
  /* background-color: rgba(234, 232, 196, 0.2); */
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
}

#profile-container {
  z-index: 3;
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  position: relative;
  float: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  text-align: center;
  /* padding-left: 20%; */
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
}

#search-chats {
  /* color: rgb(236, 216, 73); */
  /* margin-top: 100px; */
}

#unread {
  font-size: 20px;
  /* font-weight: bold; */
}

#convo-title {
  font-size: 20px;
}

#conversation-button {
  /* width: 350px; */
  font-size: 17px;
}

#contact-username {
  font-size: 30px;
}

#add-contact-username {
  font-size: 30px;
}

#start-conversation-button {
  width: 350px;
  font-size: 17px;
}

#remove-friend-button {
  width: 350px;
  font-size: 17px;
}

#add-friend-button {
  width: 350px;
  font-size: 17px;
}

#header {
  font-size: 60px;
  padding-top: 90px;
}

#message-form {
  width: 350px;
  border-radius: 15px;
  text-align: center;
}

#send-message-button {
  width: 200px;
  font-size: 20px;
}

#rename-conversation-button {
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#conversation-title {
  font-size: 35px;
  text-decoration: underline;
}

#conversation-date {
  font-size: 25px;
}

#message-bubble {
  /* border-bottom: 1px solid; */
  min-height: 42px;
  /* min-height: 60px; */
  position: relative;
  margin-top: 5px;
}

#sender-name {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  position: absolute;
  left: 50px;
}

#message-text-container{
  width: 60%;
  margin: auto;
  height: 100%;
}

#message-text {
  font-size: 30px;
  font-weight: bold;
  margin: 0px auto 5px auto;
  display: inline;
}

#play-message-button {
  position: absolute;
  right: 50px;
  top: 0px;
}

#edit-profile-button {
  width: 350px;
}

#save-edits-profile-button {
  width: 350px;
  font-size: 17px;
}

#flash-message {
  border: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}
